@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0af6;
  --foreground: #ededed;
  --orange: #ff433dea;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
}

/* Ukrywa pasek przewijania w Chrome, Safari */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Ukrywa pasek przewijania w Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}
