@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0af6;
  --foreground: #ededed;
  --orange: #ff433dea;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
}
.gradient-border {
  border-width: 2px;
  border-radius: 10px !important;
  border-style: solid;
  border-image: linear-gradient(to right, #ff433dc5, #ff433d7c) 1;
}
